<!--<div class="turn-message" id="turn-message">Black's turn</div>-->
<div class="container board" id="board">
    <div class="row" *ngFor="let r of row">
        <div class="col-sm tile" *ngFor="let c of col" id="{{r + c}}" (click)="selectTile($event)">
        </div>
    </div>
</div>
<div class="tool-bar">
    <div class="begin-button">
        <button (click)="init()" *ngIf="!begin" class="btn btn-primary">Begin</button>
        <button (click)="reload()" *ngIf="begin" class="btn btn-primary">Reload</button>

    </div>
    <div class="texts">
        <b>{{turn}}</b>
    </div>
    <a class="fab fa-github git-white" (click)=" openlink()">
        <span class="badge">{{stars}}</span>
    </a>
</div>