.tile {
    width: 50px;
    height: 50px;
    font-size: 9px;
}

.board {
    width: 400px;
    margin-top: 5%;
}

.p1-knight {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
}

.tool-bar {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.begin-button {
    margin: 0 auto;
}

.texts {
    color: whitesmoke;
}

.git-white {
    color: white;
    position: relative;
    display: inline-block;
    font-size: 50px;
    margin-top: 20px;
}

.git-white .badge {
    position: absolute;
    bottom: 14px;
    right: -15px;
    padding: 5px 7px;
    border-radius: 50%;
    background: black;
    color: white;
    font-size: 12px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

a {
    text-decoration: none;
    cursor: pointer;
}