/* You can add global styles to this file, and also import other style files */

body {
    /* The image used */
    background-image: url("assets/bg1.png");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}